.btn_header {
  border: 1px solid white;
  border-radius: 8px;
  width: 148px;
  height: 42px;
  background-color: transparent;
  cursor: pointer;
  min-width: 30px;
  color: white;
  text-transform: uppercase;
}

.btn_header:hover,
.btn_header:focus,
.btn_header:active {
  border: 1px solid #ff6b01;
  background-color: #ff6b01;
  color: white;
}

.nav_list_button {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-bottom: 60px;
}
