

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.search_input {
  height: 30px;
  width: 394px;
  background-color: transparent;
  border: transparent;
  border-bottom: solid 1px white;
  color: white;
  font-size: 18px;
}

.search-input:focus {
  background-color: transparent;
  outline: 0;
  color: white;
}

.search-input::placeholder {
  opacity: 1;
}
