.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: auto;
  grid-gap: 32px;
  justify-content: center;
}

/* .container {
  padding-left: 32px;
  padding-right: 32px;
} */

.section {
  margin-bottom: 60px;
}
